.NavBar {
    position: fixed;
    bottom: 3%;
    width: 65%;
    height: 8%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: grey;
        font-size: 1.7rem;
    }
        
    .active {
        color: black;
    }
}