@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@font-face {
    font-family: 'greycliff';
    src: url('./Fonts/greycliff.otf') format('opentype');
}

$titleFont: 'greycliff';
$globalFont: 'inter';
$montserrat:'Montserrat';

$primary--dark: #09050D;
$secondary--dark: #191C1B;

$primary-contrast--dark: #01D7C0;

$secondary-font--dark: #8b8f8e;

$chart-color-one: #01E8D1;
$chart-color-two: #917FFC;
$chart-color-three: #ef476f;